@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: "Montserrat", serif;

  /* Colors */
  --color-dark-blue: #005cff;
  --color-light-blue: #e7f0ff;
  --color-steel-blue: #8694b5;
  --color-navy-blue: #0f1e3b;
  --color-transparent-gray: #0a0f1c;
}
